#caja1{
background-color: #1CD1B0;
}

#caja2{
  background-color: #00669F;
  padding: 10px;
  height: 70px;
}


.tarjetas {
  text-align:center;
  height: 500px;
  width: 300px;
  border: radius 2px;
  background-color: gray;
  position: relative;
  left: 150px;
  border: radius 5%;
  display: inline-block;
  padding: 5px;
  margin-top: 30px;
}

.tarjetas h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px;
  margin-top: 60px;
}
.tarjetas p {
  text-align: justify;
  font: size 16px;
}

.vec {
  position: absolute;
  left: 16px;
  top: 10px;
  border-radius: 20%;
}

.bat {
  position: absolute;
  right: 90px;
  top: 130px;
  border-radius: 50%;
}

footer {
  background-color:black;

}